.categories-box {
    margin-top: 3.875rem;
    padding-bottom: 3.875rem;
   

    .body-piece {
        display: flex;

        .caregory-card {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            width: 8.5313rem;
            height: 10.9375rem;
            background: #f3f6f9;
            border-radius: 1rem;
            margin-right: 24px;
            .text {
                font-weight: 600;
                font-size: 0.875rem;
                line-height: 1.375rem;
                text-align: center;
                color: #1f1e2e;
                width: 90%;
            }
        }
    }
}
.head-piece {
    padding-bottom: 1.75rem;
    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #1f1e2e;
        z-index: 2 !important;
    }

    a {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-decoration: none;
        color: #4b566b;
        margin-left: 1.5rem;

        i {
            margin-left: 7px;
        }
    }
}
