.YouTube-box {
    border: 1px solid #e3e9ef;
    box-sizing: border-box;
    align-items: center;
    border-radius: 1rem;
    padding: 16px;
    display: flex;
    width: 100%;
    margin-top: 3.875rem;
    .videos-box {
        margin-left: 2.375rem;

        .top {
            display: flex;
            align-items: center;
            width: 50.9375rem;
            justify-content: space-between;
            .more {
                color: #30a8f7;
                text-decoration: none;
                width: 7.5rem;
                height: 2.125rem;
                border: 1px solid #30a8f7;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.75rem;
                font-size: 0.8125rem;
                i {
                    margin-left: 7px;
                }
            }
            .title {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 2.0625rem;
                display: flex;
                align-items: center;
                color: #1f1e2e;
            }
        }

        .videos {
            display: flex;

            .main-box {
                width: 15.625rem;
                margin-top: 1.5625rem;
                margin-right: 1.5rem;
                .yt-text {
                    font-weight: 600;
                    font-size: .875rem;
                    line-height: 1.1875rem;
                    margin-top: .75rem;
                    color: #1f1e2e;
                }
            }
        }
    }

    .rec-box {
        border-radius: 1rem;
        background: #f6f9fc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 23.75rem;
        height: 18.5rem;

        .sub {
            background: #ff0000;
            width: 7.5625rem;
            height: 2.125rem;
            color: #fff;
            outline: none;
            border: none;
            font-weight: 600;
            font-size: 0.8125rem;
            line-height: 1.125rem;
            border-radius: 0.625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }

        .info-text {
            font-weight: 400;
            margin-top: 16px;
            font-size: 0.875rem;
            line-height: 1.1875rem;
            display: flex;
            align-items: center;
            text-align: center;
            width: 17.75rem;
            color: #4b566b;
        }

        .users {
            display: flex;
            align-items: center;
            margin-top: 1.5rem;
            .user-text {
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.1875rem;
                color: #4b566b;
                margin-left: 0.5625rem;
            }
            .user-icon {
                margin-left: -5px;
            }
        }
    }
}
