.brand {
    margin-right: 24px;
    display: block;
    padding-bottom: 62px;
    

    .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #1f1e2e;
    }

    .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #7d879c;
        margin-top: 1.125rem;
    }
}
