* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sections {
    margin-left: 320px;
}

.shop-banner1 {
    background: #CCF2FD;
    border-radius: 1rem;
    width: 25.25rem;
    height: 13.75rem;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 24px;
    .text {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1f1e2e;
        margin-left: 34px;
        padding: 33px 0;
    }
    .shop-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #fea569;
        text-decoration: none;
        margin-top: 8px;
    }
    i {
        margin-left: 6px;
    }
}
.shop-banner2 {
    background: #E8E8E8;
    border-radius: 1rem;
    width: 25.25rem;
    height: 13.75rem;
    display: inline-flex;
    margin-right: 24px;
    justify-content: space-between;
    
    .text {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1f1e2e;
        padding: 33px 0;
        margin-left: 34px;
    }
    .shop-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #42D697;
        text-decoration: none;
        margin-top: 8px;
    }
    i {
        margin-left: 6px;
    }
    img{
        display: inline-block;
    }
}
.shop-banner3 {
    background: #FCB2B1;
    border-radius: 1rem;
    width: 25.25rem;
    height: 13.75rem;
    display: inline-flex;
    justify-content: space-between;
    .text {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1f1e2e;
        margin-left: 34px;
        padding: 33px 0;
    }
    .shop-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #42D697;
        text-decoration: none;
        margin-top: 8px;
    }
    i {
        margin-left: 6px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 100%;
    }
    .second-section{
        width: 89%;
    }
    .main-banner {
        width: 100%;
        margin-left: 0;
    }
    .header {
        padding: 16px 0;
        margin-left:0;
    }
    .sections {
        margin-left: 90px;
    }
}
// @media screen and (max-width: 1024px) {
//     .container {
//         transform: translateX(13.5%);
//     }
// }