* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.shop-banner1 {
    background: #CCF2FD;
    border-radius: 1rem;
    width: 25.25rem;
    height: 13.75rem;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 24px;
    .text {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1f1e2e;
        margin-left: 34px;
        padding: 33px 0;
    }
    .shop-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #fea569;
        text-decoration: none;
        margin-top: 8px;
    }
    i {
        margin-left: 6px;
    }
}
.shop-banner2 {
    background: #E8E8E8;
    border-radius: 1rem;
    width: 25.25rem;
    height: 13.75rem;
    display: inline-flex;
    margin-right: 24px;
    justify-content: space-between;
    
    .text {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1f1e2e;
        padding: 33px 0;
        margin-left: 34px;
    }
    .shop-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #42D697;
        text-decoration: none;
        margin-top: 8px;
    }
    i {
        margin-left: 6px;
    }
    img{
        display: inline-block;
    }
}
.shop-banner3 {
    background: #FCB2B1;
    border-radius: 1rem;
    width: 25.25rem;
    height: 13.75rem;
    display: inline-flex;
    justify-content: space-between;
    .text {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1f1e2e;
        margin-left: 34px;
        padding: 33px 0;
    }
    .shop-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #42D697;
        text-decoration: none;
        margin-top: 8px;
    }
    i {
        margin-left: 6px;
    }
}