.header {
    position: relative;
    width: 100%;
    padding: 16px 80px;
    margin-left: -80px;
    border-bottom: 1px solid #e3e9ef;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            display: flex;
            .top {
                font-size: 12px;
                line-height: 16px;
                color: #7d879c;
            }
            .bottom {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #4b566b;
            }
        }
    }
    .drop-icon {
        margin-left: 1.25rem;
    }
   
    .search-section {
        display: flex;
        align-items: center;
    }
    .search-box {
        background-color: #f3f6f9;
        height: 3rem;
        width: 35.8125rem;
        border-radius: 1.6392rem;
        align-items: center;
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1.25rem;
        margin-left: 2.5rem;
        .allcategories {
            margin-left: 1.25rem;
        }
        .search-inp {
            border: none;
            background: none;
            padding: 1rem 1.25rem;
            width: 20.75rem;
            outline: none;
            border-left: 1px solid #e3e9ef;
            height: 0.0625rem;
            margin-left: 1rem;
            font-size: 0.9375rem;
        }
    }
    .contacts {
        margin-left: 2.5rem;
        
        .contact {
            width: 10.5rem;
        }
        
        li {
            
            align-items: center;
            margin: 0 1.125rem !important;

            img {   
                margin-right: 1rem;
            }

            .liked{
                margin-right: 0!important;
            }
        }
    }
}
.second-section {
    color: #4b566b;
    display: flex;
    justify-content: space-between;
    width: 75%;

    ul {
        height: 3.5rem;
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            padding: 0 1rem;
            font-size: 16px;
            line-height: 22px;
            color: #4b566b;
            font-weight: 400;
            .text-with-icon {
                margin: 6px;
            }

            .category-drop-text {
                margin: 0 0.5rem;
            }
        }

        .categories {
            border-right: 0.0625rem solid #e3e9ef;
            height: 1.75rem;
            padding-right: 1.625rem;
        }

        list-style: none;
        a {
            color: #4b566b;
            text-decoration: none;
        }
    }
}
