.partners {
    border-radius: 1rem;
    border: 1px solid #E3E9EF;
    margin-top: 3.875rem;
    width: 78.75rem;
    .partner-item {
        width: 13.125rem;
        height: 6.875rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
