.recomended {
    margin-top: 3.875rem;
    display: flex;
    width: 100%;
    .blocks {
        width: 25.25rem;
    }
    .pro-box{
        margin-top: 3.875rem;
    }
    .title {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.0625rem;
        color: #1f1e2e;
    }
    .box {
        display: flex;
        align-items: center;
        margin-bottom: 1.75rem;
    }
    .pro-title {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
        color: #1f1e2e;
    }
    .text {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        display: flex;
        align-items: center;
        color: #1f1e2e;
        margin-top: .75rem;
    }

}
